/* 设置放大缩小按钮样式 */
#in {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;
}

.zoom {
  height: 30px;
  text-align: center;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #007bff;
  color: #007bff;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.zoom:hover {
  color: white;
  background: #007bff;
}

#out {
  position: absolute;
  right: 20px;
  top: 60px;
  z-index: 5;
}

/* 设置思维导图样式 */
#mind_container {
  position: relative;
  width: 90%;
  background: #fff;
  z-index: 1;
  flex: 4;
}

/*设置背景样式*/
html, body {
  background: #007bff;
  height: 100%;
  overflow: hidden;
}

#content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;
    z-index: 1;
}

#head {
    flex: 1;
    z-index: 1;
}

h1 {
  margin: 0;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3em;
}

h2 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  font-weight: normal;
}

h2 a {
  color: white;
  font-size: 15px;
  padding: 0 30px;
}

/*设置滚动条样式*/
*::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  height: 8px;
  width: 8px;
  background-color: #9f9f9f;
}

/* 设置模态框样式 */
.modal-window {
  height: 100vh;
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: fixed;
  background-color: rgba(0, 123, 255, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}
a {
  color: inherit;
}
.open-modal {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #444444;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-weight: bold;
  font-size: 150%;
  color: #21545B;
}


